/* ปรับปรุง : 2559-12-19 */
#main{
background-color:#000099;
font-family:microsoft sans serif;
font-size:12px;
margin:0px 0px 0px 0px
} 
textarea{
font-family:microsoft sans serif;
color:#000088;
background-color:#ddffdd
} 
fieldset{
margin:10px 0px 0px 0px;
padding:0px
} 
legend{
background-color:#444444;
color:#ffffdd;
font-size:14px;
display:block;
padding-left:5px;
padding-right:10px;
border:2px solid #f9f9f9
}
.topbar{
width:100%;
background-color:black;
color:white;
text-align:center;
height:90px;
padding:0px;
border-spacing:0px;
border-style:none
} 
.topbar a:link, .topbar a:visited{
color:#aaffaa;
text-decoration:none
} 
.topbar td {
text-align:center
} 
.foot_text{
color:white;
text-decoration:none
}
.table_zero{
padding:0px;
border-spacing:0px;
border:0px
}
.unline{
text-decoration:none
}
#m_town{
text-align:center
}

/* ipad ขนาดไม่เกิน 768 ทำส่วนนี้ */
.m_still{
width:728px;background-color:white;margin-left:auto;margin-right:auto;padding:0px;border-spacing:0px
} 
.m_still_footer{
width:728px
} 
.m_banner_320{
visibility:hidden;
display:none
} 
.m_hidden{
width:728px;
vertical-align:top;
margin:0px 0px 0px 0px;
margin-left:auto;
margin-right:auto;
padding:0px;
border-spacing:0px
} 
.m_hidden_search{
width:732px;
margin:0px 0px 0px 0px;
background-color:white;
margin-left:auto;
margin-right:auto;
padding:0px;
border-spacing:0px
} 
.m_min240{
width:240px;float:left
}
.m_min300{
width:300px;
float:left
}
.m_min400{
width:400px;
float:left
}

/* iphone5:320 ขนาดไม่เกิน 320 ทำส่วนนี้ */
@media only screen and (max-width:320px) {
.m_still, .m_still_footer{visibility:visible;width:310px} 
.m_min400, .m_min300{width:300px;} 
.m_hidden, .m_hidden_search{visibility:hidden;display:none} 
#m_town{visibility:hidden;display:none} 
.m_banner_320{width:320px;height:110px;margin-left:auto;margin-right:auto;visibility:visible;display:block}  
} 

/* iphone6:375 galaxy s5:360 ขนาด 321 - 375 ทำส่วนนี้ */
@media only screen and (min-width:321px) and (max-width:375px) { 
.m_still, .m_still_footer{visibility:visible;width:321px} 
.m_min400, .m_min300{width:321px;} 
.m_hidden, .m_hidden_search{visibility:hidden;display:none} 
#m_town{visibility:hidden;display:none} 
.m_banner_320{width:320px;height:110px;margin-left:auto;margin-right:auto;visibility:visible;display:block} 
} 

/*  nexus 5x:411 ขนาด 376 - 414 ทำส่วนนี้ */
@media only screen and (min-width:376px) and (max-width:414px) { 
.m_still, .m_still_footer{visibility:visible;width:376px} 
.m_min400, .m_min300{width:376px;} 
.m_hidden, .m_hidden_search{visibility:hidden;display:none} 
#m_town{visibility:hidden;display:none} 
.m_banner_320{width:376px;height:110px;margin-left:auto;margin-right:auto;visibility:visible;display:block} 
}

/* nexus 6p:435 ขนาด 414 - 728 ทำส่วนนี้ */
@media only screen and (min-width:414px) and (max-width:728px) { 
.m_still, .m_still_footer{visibility:visible;width:414px} 
.m_min400, .m_min300{width:414px;} 
.m_hidden, .m_hidden_search{visibility:hidden;display:none} 
#m_town{visibility:hidden;display:none} 
.m_banner_320{width:376px;height:110px;margin-left:auto;margin-right:auto;visibility:visible;display:block} 
}

/* top navigator */
#bar_topnav{
width:100%;height:30px;background-color:#000044;margin:0px 0px 0px 0px;padding:0px;border-spacing:0px;border-style:none
}

ul.topnav{list-style-type: none;margin:0px;padding:0px;overflow:hidden;background-image:url(rspbar.png)}
ul.topnav li{float:left}
ul.topnav li a {display:inline-block;margin:0px;color:white;text-align:center;padding:5px 5px;text-decoration:none;font-size:10px;height:20px}
ul.topnav li a:hover {color:yellow;}
ul.topnav li.icon {display:none}

/* iphone6 plus ขนาดไม่เกิน 414 ทำส่วนนี้ */
@media screen and (max-width:414px){ 
ul.topnav li:not(:first-child) {display: none} 
ul.topnav li.icon{float:right;display:inline-block} 
ul.topnav.responsive {position: relative} 
ul.topnav.responsive li.icon{position: absolute;right:0px;top:0px} 
ul.topnav.responsive li{float:none;display:inline }
ul.topnav.responsive li a {display: block;text-align: left}
}
